/*brand font*/
@import url('https://fonts.googleapis.com/css2?family=Style+Script&display=swap');
@import url('https://fonts.cdnfonts.com/css/meldina');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Style+Script&display=swap');
/*paragraph font*/
@import url('https://fonts.cdnfonts.com/css/avenir');

*{
    margin: 0;
    padding: 0;
}
/*LOGO-BRAND*/
.container-fluid{
    display: flex;
    padding: 0;
    width: 100%;
    height: 75px;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
}
#logo img{
    width: 50px;
    height: 50px;
}
.brand{
    margin-left: 5px;
    font-family: 'Style Script', cursive;
    font-size: 30px;
}

/*NAVBAR*/
.navbar{
    padding: 0;
    font-family: "Libre Baskerville", serif;
    font-size: 15px;
}
.navbar .container-fluid{
    padding-right: 50px;
    padding-left: 20px;
}
.navbar .navbar-collapse{
    padding: 15px;
    background-color: #ffffff;
}
.nav-item{
    padding-right: 50px;
}
.dropdown-menu{
    font-family: 'Avenir', sans-serif;
    font-size: small;
    margin-bottom: 10px;
}
.offcanvas-header .brand{
    margin: 0;
}
.offcanvas-body{
    padding: 0 0 0 20px;
}
.navbar-toggler{
    border: none;
    font-size: 1.5rem;
}
.navbar-toggler:focus, .btn-close:focus{
    box-shadow: none;
    outline: none;
}
.nav-link{
    color: #667773;
    font-weight: 500;
    position: relative;
}
.nav-link:hover, .nav-link.active:hover{
    color: black;
}

@media(min-width: 991px){    
.nav-link::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    visibility: hidden;
    transition: 0.3s ease-in-out;
}
.nav-link:hover::before, .nav-link.active::before{
    width: 100%;
    visibility: visible;
}
}
.d-flex .form-control{
    width: 200px;
    border-radius: 0;
    font-size: small;
    border-right: none;
    border-top: none;
    border-left: none;
    border-bottom-color: #FCE230;
    background-color: transparent;
}
.form-control:focus{
    box-shadow: none;
    outline: none;
}
.d-flex .btn{
    border-radius: 0;
    border: none;
    color: white;
    background-color: #FCE230;
}
@media(max-width: 960px){
    .navbar .container-fluid{
        padding-right: 20px;
        padding-left: 10px;
    }
    .d-flex .form-control{
        width: 200px;
    }
}
@media(max-width: 350px){
    .navbar .container-fluid{
        padding-right: 10px;
        padding-left: 5px;
    }
    .d-flex .form-control{
        width: 150px;
    }
}
/*MARKET PAGE*/
.market-page{
    display: flex;
    flex-direction: row;
    font-family: 'Avenir', sans-serif;
    background-color: #d2ffff;
    height: 600px;
}
.market-page .img{
    object-fit: cover;
    height: 300px;
}
.market-header{
    font-family: "Libre Baskerville", serif;
    margin-bottom: 25px;
    color: #062221;
    font-style: italic;
    margin-bottom: 5%;
    margin-left: 5%;
    margin-top: 5%;
}
.market-header .link{
    text-decoration: none;
    color: #062221;
}
.market-page .sidebar{
    background-color: #edffff;
    width: 20%;
    max-height: 600px;
    padding: 3%;
    font-family: "Libre Baskerville", serif;
}
.sidebar .navbar-nav{
    margin-top: 25px;
    font-size: small;
}
.market-page #container-fluid{
    width: 80%;
    overflow-y: auto;
    padding: 25px;
    
}
.tag{
    margin: 0;
    padding: 15px 10px 5px 20px;
}
.tag .btn{
    border-radius: 0;
    background-color: #062221;
    border: none;
    min-width: 75px;
}
.details{
    font-size: small;
    padding: 5px 20px 5px 20px;
}
.price-cart{
    font-size: small;
    padding-left: 20px;
}
.price-cart .btn{
    margin-left: 10px;
    font-style: normal;
}
.price-cart .btn .bi{
    padding: 0px;
    font-style: normal;
    font-size: small;
}
.photo-title{
    font-size: 15px;
    padding: 10px 10px 5px 10px;
    margin: 0;
}
#box-main .box:hover{
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
    box-shadow: 0px 0px 10px 5px rgba(38, 38, 38, 0.125);
    cursor: pointer;
}
@media(min-width:760px){
    #box-main{
        padding-left: 5%;
        padding-right: 5%;
    }
    #box-main .box{
        width: 48.5%;
        min-height: 400px;
        float: left;
        margin-bottom: 5%;
        background-color: #ffffff;
        color: #062221;
    }
    #box-main .box:nth-child(2){
        margin-left: 3%;
    }
    #box-main .box:nth-child(4){
        margin-left: 3%;
    }
    #box-main .box:nth-child(6){
        margin-left: 3%;
    }
    #box-main .box:nth-child(8){
        margin-left: 3%;
    }
    #box-main .box:nth-child(10){
        margin-left: 3%;
        margin-bottom: 50px;
    }
}
@media(max-width:760px){
    #box-main .box{
        width: 100%;
        min-height: 400px;
        float: left;
        margin-bottom: 25px;
        background-color: #ffffff;
        color: #062221;
    }
    
}
@media(max-width:540px){
    .market-page{
        display: flex;
        flex-direction: column;
        font-family: 'Avenir', sans-serif;
        background-color: #d2ffff;
        height: 600px;
    }
    .market-page .sidebar{
        width: 100%;
        padding: 5%;
        font-size: 5px;
    }
    .market-page #container-fluid{
        width: 100%;
    }
    #box-main .box{
        width: 100%;
        min-height: 400px;
        float: left;
        margin-bottom: 25px;
        background-color: #ffffff;
        color: #062221;
    }
}

/*FOOTER*/
.footer .clearfix::after{
    content: "";
    display: block;
    clear: both;
}
.programmer{
    color: #062221;
    white-space: pre;
}
#container-fluid{
    width: 100%;
    min-height: 350px;   
}
#container-fluid .footer-col{
    width: 20%;
    min-height: 350px;
    background-color: #ffffff;
    padding: 30px;
    float: left;
    align-content: center;
    text-align: center;
    font-family: "Libre Baskerville", serif;
    font-size: medium;
    color: #062221;
    font-size: 15px;
}
#container-fluid .footer-col:nth-child(1){
    align-content: normal;
    padding-top: 5em;
    width: 15%;
    color: #20B3AD;
}
#container-fluid .footer-col:nth-child(5){
    text-align: left;
    width: 25%;
}
.footer-sub{
    margin-bottom: 10px;
}
.mb-3 .form-control{
    padding-left: 0;
    font-size: small;
    width: 90%;
    border-radius: 0;
    border-right: none;
    border-top: none;
    border-left: none;
    border-bottom-color: #FCE230;
    background-color: transparent;
}
.sub-now .btn{
    margin-top: 10px;
    border-radius: 0;
    padding: 5px 15px;
    font-size: smaller;
    border-color: #20B3AD;
    color: #20B3AD;
}
.sub-now .btn:hover{
    background-color: #20B3AD;
    border: none;
    color: white;
}

@media(max-width: 960px){
    #container-fluid{
        width: 100%;
        min-height: 25px;   
    }
    #container-fluid .footer-col{
        width: 100%;
        min-height: 25px;
        background-color: #ffffff;
        padding: 30px;
        align-content: center;
        text-align: center;
        font-family: "Libre Baskerville", serif;
        font-size: medium;
        color: #062221;
        font-size: 15px;
    }
    #container-fluid .footer-col:nth-child(1){
        align-content: normal;
        padding-top: 5em;
        width: 100%;
        color: #20B3AD;
    }
    #container-fluid .footer-col:nth-child(5){
        padding: 25px 25% 20% 25%;
        text-align: left;
        width: 100%;
    }
}