/*brand font*/
@import url('https://fonts.googleapis.com/css2?family=Style+Script&display=swap');
@import url('https://fonts.cdnfonts.com/css/meldina');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Style+Script&display=swap');
/*paragraph font*/
@import url('https://fonts.cdnfonts.com/css/avenir');

*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #667773;
}
/*LOGO-BRAND*/
.container-fluid{
    display: flex;
    padding: 0;
    width: 100%;
    height: 75px;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
}
#logo img{
    width: 50px;
    height: 50px;
}
.brand{
    margin-left: 5px;
    font-family: 'Style Script', cursive;
    font-size: 30px;
}

/*NAVBAR*/
.navbar{
    padding: 0;
    font-family: "Libre Baskerville", serif;
    font-size: 15px;
}
.navbar .container-fluid{
    padding-right: 50px;
    padding-left: 20px;
}
.navbar .navbar-collapse{
    padding: 15px;
    background-color: #ffffff;
}
.nav-item{
    padding-right: 50px;
}
.dropdown-menu{
    font-family: 'Avenir', sans-serif;
    font-size: small;
    margin-bottom: 10px;
}
.offcanvas-header .brand{
    margin: 0;
}
.offcanvas-body{
    padding: 0 0 0 20px;
}
.navbar-toggler{
    border: none;
    font-size: 1.5rem;
}
.navbar-toggler:focus, .btn-close:focus{
    box-shadow: none;
    outline: none;
}
.nav-link{
    color: #667773;
    font-weight: 500;
    position: relative;
}
.nav-link:hover, .nav-link.active:hover{
    color: black;
}

@media(min-width: 991px){    
.nav-link::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    visibility: hidden;
    transition: 0.3s ease-in-out;
}
.nav-link:hover::before, .nav-link.active::before{
    width: 100%;
    visibility: visible;
}
}
.d-flex .form-control{
    width: 200px;
    border-radius: 0;
    font-size: small;
    border-right: none;
    border-top: none;
    border-left: none;
    border-bottom-color: #FCE230;
    background-color: transparent;
}
.form-control:focus{
    box-shadow: none;
    outline: none;
}
.d-flex .btn{
    border-radius: 0;
    border: none;
    color: white;
    background-color: #FCE230;
}
@media(max-width: 960px){
    .navbar .container-fluid{
        padding-right: 20px;
        padding-left: 10px;
    }
    .d-flex .form-control{
        width: 200px;
    }
}
@media(max-width: 350px){
    .navbar .container-fluid{
        padding-right: 10px;
        padding-left: 5px;
    }
    .d-flex .form-control{
        width: 150px;
    }
}

/*STUDIO*/
.studio-section .container-fluid{
    width: 100%;
    position: relative;
    height: 75vh;
}
.container-fluid .studio-img{
    width: 65%;
    height: 75vh;
    background-image: url(studio.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.container-fluid .studio-content{
    width: 35%;
    height: 75vh;
    padding: 5%;
    align-content: center;
    font-family: "Libre Baskerville", serif;
    background-color: #f6f6f6;
}
.studio-content .artist{
    font-style: oblique;
}
.studio-content .username,
.studio-content .email,
.studio-content .password,
.studio-content .confirm-password{
    margin-bottom: 20px;
}
.mb-3 .join-now{
    display: flex;
    justify-content: center;
}
.join-now .btn{
    min-width: 100px;
    margin-top: 10px;
    border-radius: 0;
    padding: 5px 15px;
    font-size: smaller;
    border: none;
    background-color: #20B3AD;
    color: #FFFFFF;
    font-size: medium;
}
.join-now .btn:hover{
    transform: scale(1.1);
}
.join-now .btn:active{
    background-color: #FCE230;
}

@media(max-width: 440px) {
    .studio-section .container-fluid{
        width: 100%;
        position: relative;
        height: 75vh;
        display: flex;
        flex-direction: column;
    }
    .container-fluid .studio-img{
        width: 100%;
        height: 65%;
        background-image: url(studio.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .container-fluid .studio-content{
        width: 100%;
        height: 500px;
        padding: 10%;
        align-content: center;
        justify-content: center;
        font-family: "Libre Baskerville", serif;
        font-size: small;
    }
    .studio-content .artist{
        font-style: oblique;
        font-size: medium;
    }
    .studio-content .studio-sub{
        font-size: smaller;
        margin-bottom: 5px;
    }
    .studio-content .username{
        margin-bottom: 10px;
    }
    .studio-content .email{
        margin-bottom: 10px;
    }
    .studio-content .password{
        margin-bottom: 10px;
    }
    .mb-3 .join-now{
        display: flex;
        justify-content: center;
    }
    .join-now .btn{
        min-width: 100px;
        margin-top: 10px;
        border-radius: 0;
        padding: 5px 15px;
        font-size: smaller;
        border: none;
        background-color: #20B3AD;
        color: #FFFFFF;
        font-size: medium;
    }
}
/*FOOTER*/
.footer .clearfix::after{
    content: "";
    display: block;
    clear: both;
}
.programmer{
    color: #062221;
    white-space: pre;
}
#container-fluid{
    width: 100%;
    min-height: 350px;   
}
#container-fluid .footer-col{
    width: 20%;
    min-height: 350px;
    background-color: #ffffff;
    padding: 30px;
    float: left;
    align-content: center;
    text-align: center;
    font-family: "Libre Baskerville", serif;
    font-size: medium;
    color: #062221;
    font-size: 15px;
}
#container-fluid .footer-col:nth-child(1){
    align-content: normal;
    padding-top: 5em;
    width: 15%;
    color: #20B3AD;
}
#container-fluid .footer-col:nth-child(5){
    text-align: left;
    width: 25%;
}
.footer-sub{
    margin-bottom: 10px;
}
.mb-3 .form-control{
    padding-left: 0;
    font-size: small;
    width: 90%;
    border-radius: 0;
    border-right: none;
    border-top: none;
    border-left: none;
    border-bottom-color: #FCE230;
    background-color: transparent;
}
.sub-now .btn{
    margin-top: 10px;
    border-radius: 0;
    padding: 5px 15px;
    font-size: smaller;
    border-color: #20B3AD;
    color: #20B3AD;
}
.sub-now .btn:hover{
    background-color: #20B3AD;
    border: none;
    color: white;
}

@media(max-width: 960px){
    #container-fluid{
        width: 100%;
        min-height: 25px;
    }
    #container-fluid .footer-col{
        width: 100%;
        min-height: 25px;
        background-color: #ffffff;
        padding: 30px;
        align-content: center;
        text-align: center;
        font-family: "Libre Baskerville", serif;
        font-size: medium;
        color: #062221;
        font-size: 15px;
    }
    #container-fluid .footer-col:nth-child(1){
        align-content: normal;
        padding-top: 5em;
        width: 100%;
        color: #20B3AD;
    }
    #container-fluid .footer-col:nth-child(5){
        padding: 25px 25% 20% 25%;
        text-align: left;
        width: 100%;
    }
}